*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    padding: 5rem;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.left-part{
    width: 100%;
}

.right-part{
    width: 100%;
    padding: 0 3rem;
    line-height: 2;
}

.container .right-part img{
    width: 550px;
    height: 80vh;
    transform: skewX(-10deg);
    margin-left: 100px;
}

.left-part h1{
    font-size: 3rem;
    margin-top: 4rem;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.8);
}

.left-part h1 span{
    color: rgb(125, 42, 202);
}

.left-part p{
    margin: 2rem 0;
    padding: 1rem 0;
}

.muted-text{
    color: gray;
}

.btn{
    font-size: 1rem;
    padding: 1rem 2rem;
    background: linear-gradient(to right, rgb(143, 90, 194), rgb(7, 56, 218) );
    border-radius: 30px;
    border: none;
    box-shadow: 1px 1px 10px gray;
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

/* about starts here */

.about-me{
    background-image: url(images/bg-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.about-me .left-part img{
    width: 350px;
    height: 600px;
    margin: 55px 0 0 150px;
}

.heading {
    font-size: 3rem;
    color: gray;
    margin: 2rem 0;
}

.about-me p{
    margin-bottom: 5rem;
    width: 500px;
}

/* recipe starts here */

#recipie{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#recipie #desc{
    text-align: center;
    width: 600px;
    margin-bottom: 1rem;
}

#cards{
    display: flex;
    align-items: center;
}

.card{
    width: 300px;
    height: 430px;
    box-shadow: 1px 2px 10px rgb(172, 172, 172);
    border-radius: 25px;
    padding: 15px;
    margin: 1rem 2rem;
}   
.card-img img{
    width: 270px;
    height: 200px;
    border-radius: 15px;
}

.card .title{
    font-size: 20px;
    font-weight: 900;
    padding: 5px;
}

.card .muted-text{
    padding: 5px;
}

/* details container starts here */

#details-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 150px;
    padding: 2rem 3rem;
    border-radius: 15px;
    box-shadow: 2px 2px 20px rgba(128, 128, 128,0.4);
    margin: 2rem 15%;
}

#details-container .big-text h1{
    font-size: 3rem;
    font-weight: 900;
}

/* footer starts here */
footer h2 span{
    color: coral;
}

footer h2{
    text-align: center;
    margin: 2rem 0;
}

footer{
    height: 350px;
    background-color: #0a0a2a;
    color: #fff;
    padding: 2rem;
}

footer #info{
    text-align: center;
}

footer #address-copyright{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

footer #extra-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    margin-top: 1rem;
}

#location h4,
#contact-us h4{
    display: inline;
}

footer h4{
    margin: 10px 0;
    color: yellow;
 
}

footer #location{
    margin-left: 2rem;
}


